{{template "layout" .}}

{{define "title"}}Dawn Treader Capital{{end}}

{{define "content"}}
    <div>
    </div>
    <div class="pure-g">
        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <h1>THIS IS DANIEL</h1>
        </div>
    </div>

{{end}}