/**
 * Address inconsistent and variable font size in all browsers.
 */
 .banner-bucket {
    background:#6699CC ;
    color: white;
  }
 .circle {
    border-radius: 50%;
  }
  .light-blue-back {
    background:#6699CC
  }
  .dark-blue-back {
    background:#233A73;
  }
  .yellow-back {
    background: #ffdf00
  }
  .photo-box {
    background: transparent url('/static/photos/DG Headshot.jpg') 0 0 no-repeat fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
  }
